body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0e1624;
}

/* light mode toggle style */
body.light-mode {
    background-color: #fff;
}

body.light-mode .header, 
body.light-mode .results,
body.light-mode .results th,
body.light-mode #findingForm,
body.light-mode .input-icon, 
body.light-mode .input-icon input::placeholder,
body.light-mode .footer,
body.light-mode .footer-credits a {
    color: #000;
}

body.light-mode .input-icon input {
    border: 1px solid #000;
}

.toggle-input {
    display: none;
}

.light-mode-icon,
.dark-mode-icon {
  width: 35px; 
  height: 35px; 
}

.light-mode-icon {
    display: block;
  }
  
.dark-mode-icon {
    display: none;
}
/* end */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
}

.header-text h5 {
    font-weight: bold;
    font-size: large;
}

.header-text p {
    font-size: small;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#findingForm {
    display: flex;
    gap: 10px;
    color: rgb(255, 255, 255, 0.16);
}

input {
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-color: transparent;
    padding: 8px;
    color: inherit;
    border-radius: 5px;
}

#titleInput, #authorInput, #extensionInput, #emailInput {
    color: #fff;
}

.input-icon {
    position: relative;
  }
  
.input-icon input {
    padding-left: 35px; /* Adjust the value based on the icon size and spacing */
}

.input-icon input::placeholder {
    color: rgba(255, 255, 255, 0.16);
}

.input-icon i {
    position: absolute;
    left: 10px; /* Adjust the value to position the icon */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
  
.results {
    color: #fff;
    margin: 30px 40px;
}

.results th {
    color: rgb(255, 255, 255, 0.5);
}

.modal-content {
    background-color: rgb(255, 255, 255, 0.2);
}

button.btn-primary.send-button {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: transform 0.1s ease;
}

button.btn-primary.send-button:hover {
    transform: scale(1.5);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #333333;
}

th {
    border-top: none;
}

th, td {
    border: 1px solid #333333;
    padding: 8px;
    text-align: left;
}

.table-button {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: #fff;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 12px 18px 9px 18px;
    border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
    animation: envFloating 1s ease-in infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 21px;
    top: -12px;
    height: 21px;
    width: 15px;
    background-image: linear-gradient(#fff 13.5px, transparent 0),
        linear-gradient(#fff 13.5px, transparent 0),
        linear-gradient(#fff 13.5px, transparent 0);
    background-repeat: no-repeat;
    background-size: 9px 1.2px;
    background-position: 0px 3px, 2.4px 9px, 0px 15px;
    animation: envDropping 0.75s linear infinite;
}

body.light-mode .loader:after {
    background-image: linear-gradient(#000 13.5px, transparent 0),
        linear-gradient(#000 13.5px, transparent 0),
        linear-gradient(#000 13.5px, transparent 0);
}

@keyframes envFloating {
    0% {
        transform: translate(-0.6px, -1.5px);
    }
    100% {
        transform: translate(0, 1.5px);
    }
}

@keyframes envDropping {
    0% {
        background-position: 30px 3px, 34.8px 9px, 31.5px 15px;
        opacity: 1;
    }
    50% {
        background-position: 0px 3px, 3.6px 9px, 0.9px 15px;
    }
    60% {
        background-position: -9px 3px, 0px 9px, -2.4px 15px;
    }
    75%,
    100% {
        background-position: -9px 3px, -9px 9px, -9px 15px;
        opacity: 0;
    }
}



