{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LibgenEmailer</title>
    <link rel="icon" href="{% static 'images/title.png' %}" alt="icon created by freepik" type="image/icon type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'emailer/style.css' %}">
</head>
<body class="lightmode">
    <div class="header">LibgenEmailer
        <p>Email books from Libgen to your Kindle!</p>
    </div>
    <main>
        <div class="form">
            <form id="findingForm" action="{% url 'index' %}" method="GET" onsubmit="return validateForm()">
                <div class="input-icon">
                    <i class="fas fa-book"></i>
                    <input type="text" id="titleInput" name="title" placeholder="Title" pattern=".{3,}" title="Minimum 3 characters required">
                </div>
                    
                <div class="input-icon">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="authorInput" name="author" placeholder="Author">
                </div>
                    
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                    <input type="text" id="extensionInput" name="extension" placeholder="Extension">
                </div>                  
                <!-- <label for="extensionInput">Extension:</label> -->
                <!-- <select id="extensionInput" name="extension">
                    <option value="">None</option>
                    <option value="epub">EPUB</option>
                    <option value="pdf">PDF</option>
                    <option value="azw3">AZW3</option>
                    <option value="mobi">MOBI</option>
                    <option value="prc">PRC</option>
                    <option value="azw">AZW</option>
                    <option value="txt">TXT</option>
                    <option value="html">HTML</option>
                    <option value="doc">DOC</option>
                    <option value="docx">DOCX</option>
                </select> -->
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="results">
            <table>
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>Year</th>
                        <th>Pages</th>
                        <th>Language</th>
                        <th>Size</th>
                        <th>Extension</th>
                        <th>Send!</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.Author }}</td>
                        <td>{{ book.Title }}</td>
                        <td>{{ book.Publisher }}</td>
                        <td>{{ book.Year }}</td>
                        <td>{{ book.Pages }}</td>
                        <td>{{ book.Language }}</td>
                        <td>{{ book.Size }}</td>
                        <td>{{ book.Extension }}</td>
                        <td class="table-button">
                            <button type="button" class="btn btn-primary send-button" data-toggle="modal" data-target="#emailModal">
                                <img src="{% static 'images/airplane.svg' %}" alt="Send" width="35" height="35">
                            </button>
                        </td>
                        <!-- Hidden form inside modal -->
                        <form class="sending-form" action="{% url 'send_to_kindle' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="book_to_download" value="{{ book }}">
                            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="emailModalLabel">Enter Email Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="email" id="emailInput" name="kindle_email" placeholder="email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
                                            <div class="invalid-feedback">
                                                Please enter a valid email address.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>                  
    </main>
    <div class="footer">
        <p>LibgenEmailer © 2023</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function validateForm() {
            var titleInput = document.getElementById("titleInput");
            var authorInput = document.getElementById("authorInput");

            if (titleInput.value.trim() === "" && authorInput.value.trim() === "") {
                alert("Please enter either the title or author.");
                return false;
            }

            return true;
        }

        $(document).ready(function() {
            $('.sending-form').submit(function(e) {
                e.preventDefault(); // Prevent form submission
                var form = $(this);

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function(response) {
                        if (response.success) {
                            swal("Success!", "Email sent successfully.", "success");
                        } else {
                            swal("Error!", "Failed to send the email.", "error");
                        }
                    },
                    error: function() {
                        swal("Error!", "An error occurred.", "error");
                    },
                });
            });
        });

        $('#toggleButton').on('click', function() {
            $('body').toggleClass('light-mode');
            });
    </script>
</body>
</html>
