{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LibgenEmailer</title>
        <link rel="icon" href="{% static 'images/title.png' %}" alt="icon created by freepik" type="image/icon type">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'emailer/style.css' %}">
    </head>
    <body class="light-mode">
        <div class="header light-mode">
            <div class="header-text">
                <h5>LibgenEmailer</h5>
                <p>Email books from Libgen to your Kindle!</p>
            </div>
            <div class="toggle-container">
                <input type="checkbox" id="toggleButton" class="toggle-input">
                <label for="toggleButton" class="toggle-label">
                    <img src="{% static 'images/dark.png' %}" alt="Light Mode" class="light-mode-icon">
                    <img src="{% static 'images/light.png' %}" alt="Dark Mode" class="dark-mode-icon">
                </label>
            </div>                   
        </div>
            <div class="form">
                <form id="findingForm" hx-get="{% url 'partial_search' %}" hx-target="#results" hx-trigger="input delay:0.0s"> 
                  <div class="input-icon">
                    <i class="fas fa-book left-icon"></i>
                    <input type="text" id="titleInput" name="title" placeholder="Title" pattern=".{3,}" title="Minimum 3 characters required" autocomplete="off">
                    <i class="fa-sharp fa-regular fa-circle-xmark clear-button" data-target="#titleInput"></i>
                  </div>
                  <div class="input-icon">
                    <i class="fa-solid fa-user left-icon"></i>
                    <input type="text" id="authorInput" name="author" placeholder="Author" autocomplete="off">
                    <i class="fa-sharp fa-regular fa-circle-xmark clear-button" data-target="#authorInput"></i>
                  </div>
                  <div class="input-icon">
                    <i class="fa-solid fa-file left-icon"></i>
                    <input type="text" id="extensionInput" name="extension" placeholder="Extension" autocomplete="off">
                    <i class="fa-sharp fa-regular fa-circle-xmark clear-button" data-target="#extensionInput"></i>
                  </div>   
                  <div class="input-icon">
                    <i class="fa-solid fa-envelope left-icon"></i>
                    <input type="text" id="emailInput" name="email" placeholder="Email" title="Enter a valid email address" autocomplete="off">
                    <i class="fa-sharp fa-regular fa-circle-xmark clear-button" data-target="#emailInput"></i>
                  </div>
                </form>
            </div>
        </div>
        <section id="results">
            <div class="results">
                {% include 'emailer/partial_results.html' %}
            </div>
        </section>
    </main>
    <div class="footer">
        <div class="footer-content">
            <p>LibgenEmailer © 2023</p>
            <div class="footer-credits">
                <a href="https://www.flaticon.com/free-icons/day-mode" title="day mode icons">Day mode icons created by bsd - Flaticon</a>
                &middot;
                <a href="https://www.flaticon.com/free-icons/dark-mode" title="dark mode icons">Dark mode icons created by bsd - Flaticon</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
    <script>
        function validateForm() {
            var titleInput = document.getElementById("titleInput");
            var authorInput = document.getElementById("authorInput");

            if (titleInput.value.trim() === "" && authorInput.value.trim() === "" && emailInput.value.trim() === "") {
                alert("Please enter either the title or author.");
                return false;
            } else if (titleInput.value.trim() === "" && authorInput.value.trim() === "" && emailInput.value.trim() != "") {
                alert("Email updated successfully.")
                return false;
            }

            return true;
        }

        // Lightmode Toggle Function
        $(document).ready(function() {
            // Check if the preferred mode is stored in localStorage
            var preferredMode = localStorage.getItem('preferredMode');

            // If no preferred mode is stored, default to dark mode
            if (preferredMode === null) {
                preferredMode = 'dark';
            }
            // Set the body class based on the preferred mode
            $('body').addClass(preferredMode + '-mode');

            // Update the toggle button state based on the preferred mode
            $('#toggleButton').prop('checked', preferredMode === 'light');

            // Function to handle toggle button change
            function handleToggleButton() {
                var isLightMode = $(this).is(':checked');

                // Update the body class and preferred mode based on the toggle button state
                if (isLightMode) {
                    $('body').removeClass('dark-mode').addClass('light-mode');
                    localStorage.setItem('preferredMode', 'light');
                    $('.dark-mode-icon').hide();
                    $('.light-mode-icon').show();
                } else {
                    $('body').removeClass('light-mode').addClass('dark-mode');
                    localStorage.setItem('preferredMode', 'dark');
                    $('.light-mode-icon').hide();
                    $('.dark-mode-icon').show();
                }
            }
            // Attach the handleToggleButton function to the toggle button change event
            $('#toggleButton').on('change', handleToggleButton);

            // Trigger the toggle button click event to apply the initial mode
            $('#toggleButton').trigger('change');
        });

        // Set email from django context in local storage
        var email = '{{ stored_kindle_email }}';
        localStorage.setItem('kindle_email', email);

        // Reassign email in local storage when input changes
        document.getElementById('emailInput').addEventListener('input', function() {
            var email = this.value;
            localStorage.setItem('kindle_email', email);
        });

        // Show clear button when input has value
        const inputFields = document.querySelectorAll('.input-icon input');

        inputFields.forEach(function(input) {
            const clearButton = input.parentNode.querySelector('.clear-button');

            input.addEventListener('input', function() {
            clearButton.style.display = this.value ? 'block' : 'none';
            });

            clearButton.addEventListener('click', function() {
            input.value = '';
            clearButton.style.display = 'none';
            });
        });

        // Add event listeners to clear buttons
        const clearButtons = document.querySelectorAll('.clear-button');
        clearButtons.forEach(button => {
            button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent form submission
            const targetInput = document.querySelector(this.getAttribute('data-target'));
            targetInput.value = ''; // Clear the input value
            });
        });
    </script>
</body>
</html>